{% extends 'layout.html' %}
{% set pageTitle = "Contact NHS Pensions"%}
{% set hideBack ="true" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
 

<div class="nhsuk-form-group">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">{{ pageTitle }}</h1> 

        <p>Use this service to contact NHS Pensions with your pensions queries.</p>
        <p>You can use it if you are:</p>
        <ul>
          <li>a member of the NHS Pension Scheme</li>
          <li>an employer</li> 
          <li>acting for a member</li> 
        </ul>

        <p>We can help you with:</p>
        <ul>
          <li>the NHS Pension Scheme (1995/2008 or 2015)</li>
          <li>the My NHS Pension Portal</li> 
          <li>a Total Reward Statement (TRS)</li> 
          <li>an Annual Benefit Statement (ABS)</li> 
          <li>anything relating to NHS Pensions</li>
        </ul>
        
        <h2>Before you start</h2>
        <h4 class="nhsuk-heading-xs">Members </h4>
        <p>We'll ask for your:</p>
         <ul>
          <li>membership number</li>
          <li>personal details (name, address, date of birth)</li>
        </ul>
    
        <h4 class="nhsuk-heading-xs">Employers</h4>
        <p>We'll ask for:</p>
        <ul>
          <li>your name and contact details</li>
          <li>your employing authority (EA) code</li>
          <li>the member’s personal details</li>
          <li>the member’s membership number</li>
        </ul>

    
        <h4 class="nhsuk-heading-xs">Acting for a member</h4>
        <p>We'll ask for:</p>
        <ul>
          <li>your name and contact details</li>
          <li>the member’s personal details</li>
          <li>the member’s membership number</li>
        </ul>

   

        <form action="/{{folder}}/start" method="post" novalidate>
          {{ button({
            "href": "select-member-employer",
            "text": "Start now"
          }) }}
        </form>
        
    </div>
  </fieldset>
  </div>


 
{% endblock %}

