{% extends 'layout.html' %}
{% set pageTitle = "Are you able to provide your telephone number?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{folder}}/{{subfolder}}/phone-number" method="post">
          

            <div class="nhsuk-form-group">

              {% set phoneNumberHtml %}
                {{ input({
                  id: "phoneNumber",
                  name: "phoneNumber",
                  classes: "nhsuk-u-width-two-thirds",
                  label: {
                    text: "Telephone number"
                  }
                }) }}
              {% endset -%}

              <span class="nhsuk-caption-l nhsuk-caption--bottom">Your details</span>
              {{ radios({
                idPrefix: "phone-number",
                name: "phone-number",
                classes: "nhsuk-radios--inline",
                fieldset: {
                  legend: {
                    text: pageTitle,
                    classes: "nhsuk-fieldset__legend--l",
                    isPageHeading: true
                  }
                },
                hint: {
                  text: "For international numbers include the country code, for example +34 for Spain."
                },
                items: [ 
                  {
                    value: "Yes",
                    text: "Yes",
                    conditional: {
                      html: phoneNumberHtml
                    }
                  },
                  {
                    value: "No",
                    text: "No"
                  }
                ]
              }) }}
              
              </div>

              {{ button({
                text: "Continue"
              }) }} 

            </form>
        </div>
    </div>

{% endblock %}
