{% extends 'layout.html' %}
{% set pageTitle = "Get your Total Reward Statement on ESR"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-form-group">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    
      <form action="/{{folder}}/{{subfolder}}/trs-not-active-member" method="post">

        <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1> 

        <p class="nhsuk-body">You can view or access your Total Reward Statement through your Electronic Staff Record (ESR) if you're:</p>       
        <ul>
          <li>working for an NHS organisation</li>
          <li>an active member of the NHS Pension Scheme</li>
        </ul>
        
     

      
      
        <div class="nhsuk-button-group">
          <button class="nhsuk-button" data-module="nhsuk-button" type="submit" href="https://www.nhsbsa.nhs.uk/employee-section/what-type-statement-youll-get">
           TRS through ESR
          </button>
        
          <a href="/app/views/v3/member/membership-number" class="nhsuk-link">Contact NHS Pensions</a>
        </div>


      </form>
    </div>
    </div>  
  </div>
{% endblock %}