{% extends 'layout.html' %}
{% set pageTitle = "Are you an active member of the NHS Pension Scheme?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-caption--bottom">Total Reward Statement</span>
      <form action="/{{folder}}/{{subfolder}}/trs-active-member" method="post">

        {{ radios({
          idPrefix: "trsActiveMember",
          name: "trsActiveMembe",
          fieldset: {
            legend: {
              text: pageTitle,
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          hint: {
            text: "Your answer determines whether you are eligible for a Total Reward Statement."
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              hint: {
                text: ""
              }
            },
              {
                value: "No",
                text: "No",
                hint: {
                  text: ""
                }
            }
          ]
        }) }}

        {{ button({
          text: "Continue",
          classes: "nhsuk-u-margin-top-4"
        }) }}

      </form>
    </div>  
  </div>
{% endblock %}