{% extends 'layout.html' %}
{% set pageTitle = "What is your reason for contacting us?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
     
      <span class="nhsuk-caption-l nhsuk-caption--bottom">Third-party details</span>
      <form action="../general-query/reason-for-contact" method="post">

      <div class="nhsuk-form-group">
  <h1 class="nhsuk-label-wrapper">
    <label class="nhsuk-label nhsuk-label--l" for="additionalInfo">
      What is your reason for contacting us?
    </label>
  </h1>
  <div class="nhsuk" id="example-hint">
<p>Describe your enquiry in as much detail as possible. Include any relevant background information and ask specific questions you'd like us to answer.</p>
</div>

  <p>Do not include sensitive or financial information, such as passwords or account numbers. </p>


  <textarea class="nhsuk-textarea" id="additionalInfo" name="additionalInfo" rows="5" aria-describedby="example-hint"></textarea>
</div>


        {{ button({
          text: "Continue" 
        }) }} 
  
        </div>
       
        
      </form>
    </div>
  </div>
 
  <script>
    function setLocation(element) {
            document.forms[0].action = element.value
    }
  </script>
{% endblock %}
