{% extends 'layout.html' %}
{% set pageTitle = "Your query has been received"%}
{% set hideBack ="true" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
 
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">


        <div class="nhsuk-notification-banner" data-module="nhsuk-notification-banner" role="region" aria-labelledby="nhsuk-notification-banner-title">
  <div class="nhsuk-notification-banner__header">
    <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="nhsuk-notification-banner__content">
    <p class="nhsuk-notification-banner__heading">
      We may take longer to respond to your query</p>

       <p class= "nhsuk-body">Our planned system upgrade is taking longer than expected. This means our systems will remain unavailable while we complete the work.</p>

          <p>During this time, support is limited because our access to records is restricted. We can only assist with general enquiries. Pension information, statements, the My NHS Pension app and Pensions Online remain unavailable.</p>
          <p>It may take us significantly longer than 2 working days to respond to your query. We’re sorry for this delay and are working to restore full service as soon as possible.</p>
          
      <a class="nhsuk-notification-banner__link" href="#"></a>
  
  </div>
</div>


        <div class="nhsuk-panel">
          <h1 class="nhsuk-panel__title">
            {{pageTitle}}
          </h1>
        </div>
        <p>We have sent you a confirmation email to [email address]{% if (data['emailAddress']) %} to {{ data['emailAddress']}}{% endif %}.</p>
        <h2 class="nhsuk-heading-m">What happens next</h2>
        <p class= "nhsuk-body">You will get a response to your query within 2 working days.</p>



  
       
        <h2 class="nhsuk-heading-m">Give us your feedback</h2>
        <p><a href="#" class="nhsuk-link">Tell us about your experience using this service</a> (opens in a new tab)</p>

      </div>
    </div>
  </main>
</div>
 



     
<script>
  function setLocation(element) {
    document.forms[0].action = element.value
  }
</script>
{% endblock %}

