{% extends 'layout.html' %}
{% set pageTitle = "What is your reason for contacting us?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
     
      <span class="nhsuk-caption-l nhsuk-caption--bottom">Your details</span>
      <form action="/{{folder}}/{{subfolder}}/member-query/reason-for-contact" method="post">
        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--l" for="example-with-hint-text">
              What is your reason for contacting us?
            </label>
          </h1>
          <div id="example-with-hint-text-hint" class="nhsuk-hint">
            Describe your enquiry in as much detail as possible. 
            Include any relevant background information and ask specific questions you'd like us to answer.
            <br><br>
            Do not include sensitive or financial information (such as passwords or account numbers).
          </div>
          <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
  </div>
  {{ button({
  text: "Continue"
  }) }} 
  
        </div>
       
        
      </form>
    </div>
  </div>

 
  <script>
    function setLocation(element) {
            document.forms[0].action = element.value
    }
  </script>
{% endblock %}
