{% extends 'layout.html' %}
{% set pageTitle = "Can you access your Electronic Staff Record (ESR)?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-caption--bottom">NHS pension statement</span>
      <form action="../trs/access-esr" method="post">

        {{ radios({
          idPrefix: "trsEsr",
          name: "trsEsr",
          fieldset: {
            legend: {
              text: pageTitle,
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          hint: {
            text: "Whether your NHS organisation uses the Electronic Staff Record (ESR) determines what type of statement you may get."
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              hint: {
                text: ""
              }
            },
              {
                value: "No",
                text: "No",
                hint: {
                  text: ""
                }
            }
          ]
        }) }}

        {{ button({
          text: "Continue",
          classes: "nhsuk-u-margin-top-4"
        }) }}

      </form>
    </div>  
  </div>
{% endblock %}