{% extends 'layout.html' %}
{% set pageTitle = "Check your answers"%}
{% set hideBack ="true" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
 
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l nhsuk-caption--bottom">Your details</span>
      <h1 class="nhsuk-heading-l">{{pageTitle}}</h1>
      <p>Check your answers and make sure they are correct before you continue. If you need to, you can change your answers.</p>
      <h2 class="nhsuk-heading-m">Previous answers</h2>

      <dl class="nhsuk-summary-list">
        
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Query from
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['member-employer']}} 
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="select-nhs-pension-portal-general">
              Change<span class="nhsuk-u-visually-hidden">&nbsp; query type. </span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Employing authority (EA) code
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if (data['employer-code']) %}
              {{ data['employer-code']}} 
            {% else %}
              A123
            {% endif %}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="enter-employer-code">
              Change<span class="nhsuk-u-visually-hidden">&nbsp; employing authority code.</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name 
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if (data['firstName']) and (data['lastName']) %}
              {{ data['firstName']}} {{ data['lastName'] }}
            {% else %}
              Joe Bloggs
            {% endif %}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="enter-your-name">
              Change<span class="nhsuk-u-visually-hidden">&nbsp; name. </span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if (data['emailAddress']) %}
              {{ data['emailAddress']}} 
            {% else %}
              joe.bloggs@nhsbsa.nhs.uk
            {% endif %}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="enter-your-email">
              Change<span class="nhsuk-u-visually-hidden">&nbsp; email.</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Reason for contact
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if data['additionalInfo'] %}
              {{ data['additionalInfo'] | truncate(175, false)}}
            {% else %}
              No additional information added
            {% endif %}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="reason-for-contact">
              Change<span class="nhsuk-u-visually-hidden">&nbsp; reason for contact.</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="/{{folder}}/{{subfolder}}/employer-query/check-your-answers" method="post">
        {{ button({
            text: "Confirm and send"
        }) }}   
      </form>
  </div>
</div>
{% endblock %}
