{% extends 'layout.html' %}
{% set pageTitle = "Is their main address in UK?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="/v4/third-party/bereavement-journey/dependant/dependant-main-address" method="post">
          

            <div class="nhsuk-form-group">

              {% set phoneNumberHtml %}
                {{ input({
                  id: "DependantMainAddress",
                  name: "DependantMainAddress",
                  classes: "nhsuk-u-width-two-thirds",
                  label: {
                    text: "Phone number"
                  }
                }) }}
              {% endset -%}

              <span class="nhsuk-caption-l nhsuk-caption--bottom">Dependant details</span>
              {{ radios({
                idPrefix: "DependantMainAddress",
                name: "DependantMainAddress",
                classes: "nhsuk-radios",
                fieldset: {
                  legend: {
                    text: pageTitle,
                    classes: "nhsuk-fieldset__legend--l",
                    isPageHeading: true
                  }
                },
                hint: {
                  text: ""
                },
                items: [ 
                  {
                    value: "Yes",
                    text: "Yes"
                  },
                  {
                    value: "No",
                    text: "No"
                  }
                ]
              }) }}
              
              </div>

              {{ button({
                text: "Continue"
              }) }} 

            </form>
        </div>
    </div>

{% endblock %}
