{% extends 'layout.html' %}
{% set pageTitle = "Is there a person dealing with the estate?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l nhsuk-caption--bottom">Person dealing with the estate</span>
     <h1 class="nhsuk-heading-l"> {{ pageTitle }}</h1>
      <form action="/v4/acting-for-member/bereavement-journey/estate/estate-start" method="post">

     

<p>The person dealing with the estate is responsible for managing the affairs of someone who has died.</p>
<p>This may be you.</p>
   <p>It could also be someone named in a will or appointed if there is no will.</p>
   <p>A spouse or civil partner is not automatically the person dealing with the estate.</p>
   <p>There can be more than one person in this role.</p>

<div class="nhsuk-radios" data-module="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="estate-person" name="estate-person" type="radio" value="Yes">
        <label class="nhsuk-label nhsuk-radios__label" for="estate-person">
          Yes
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="estate-person-1" name="estate-person" type="radio" value="No">
        <label class="nhsuk-label nhsuk-radios__label" for="estate-person-1">
          No
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="estate-person-2" name="estate-person" type="radio" value="Not sure">
        <label class="nhsuk-label nhsuk-radios__label" for="estate-person-2">
          I'm not sure
        </label>
      </div>
    </div>
    <br>

      
                {{ button({
                    "text": "Continue"
                    }) }} 
                    

            </form>
        </div>
    </div>
{% endblock %}
