{% extends 'layout.html' %}
{% set pageTitle = "Sorry, there is a problem with the service"%}
{% set hideBack = "true" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}
<div class="nhsuk-form-group">
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    
      <h1 class="nhsuk-heading-xl">{{pageTitle}}</h1>

      <p> Resubmit your query.</p>

      <p> We have saved the information you have recently put in the contact form.</p>

        <p>you can either:</p>
        <ul>
        <li>check your answers and submit your query again</li>
        <li>start again from the beginning of the contact form</li>
      </ul>

        <p>If you continue to have this problem or have an urgent query, contact the NHS Pensions team:</p> 
    
        <p>
          <a class="nhsuk-link" target="_blank" href="https://www.nhsbsa.nhs.uk/member-hub/contact-nhs-pensions-members">NHS Pensions - active and deferred members</a><br/>
          <a class="nhsuk-link" target="_blank" href="https://www.nhsbsa.nhs.uk/pensioner-hub/contact-nhs-pensions-pensioners">Contact NHS Pensions - pensioner members</a><br/>
          <a class="nhsuk-link" target="_blank" href="https://www.nhsbsa.nhs.uk/employer-hub/contact-nhs-pensions-employers">Contact NHS Pensions - employers</a>
        </p>
      
    </div>
    
  </div>
  <div class="nhsuk-button-group">

    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
      Check your answers
    </button>
  
    <a href="/v1/start" class="nhsuk-link">Go to start page</a>
  </div>
</div>
</div>
{% endblock %}