{% extends 'layout.html' %}
{% set pageTitle = "Sorry, the service is unavailable"%}
{% set hideBack = "true" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-u-reading-width">

      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>

      <p class="nhsuk-body">
        You will be able to use the service from 10:30am on 11 February 2026.
      </p>


    </div>
  </div>

</div>
{% endblock %}