{% extends 'layout.html' %}
{% set pageTitle = "You do not have permission to view this page"%}
{% set hideBack = "true" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-u-reading-width">
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>

      <p>
        If you think you should be able to, contact the NHS Pensions team for help:
      </p>

      <p>
        <a class="nhsuk-link" target="_blank" href="https://www.nhsbsa.nhs.uk/member-hub/contact-nhs-pensions-members">NHS Pensions - active and deferred members</a><br/>
        <a class="nhsuk-link" target="_blank" href="https://www.nhsbsa.nhs.uk/pensioner-hub/contact-nhs-pensions-pensioners">Contact NHS Pensions - pensioner members</a><br/>
        <a class="nhsuk-link" target="_blank" href="https://www.nhsbsa.nhs.uk/employer-hub/contact-nhs-pensions-employers">Contact NHS Pensions - employers</a>
      </p>
    </div>
  </div>

</div>
{% endblock %}