<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Contact the scheme
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}


<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  href: "emp-select-member-employer",
  text: "Back"
}) }}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="emp-member-name" method="post">

      <!-- Change the page heading -->


      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
     
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <span class="nhsuk-caption-l nhsuk-caption--bottom">Member details</span>
            <h1 class="nhsuk-fieldset__heading">
              Do you know the member's membership number?
            </h1>
          </legend>
          <p>
            Sometimes known as the Superannuation Division (SD) number. 
            This will help us find your record and support you quicker.</p>
            <p>This number is 'SD' followed by 8 digits.</p>
          <p>Find this on:</p>
          <ul>
            <li>member payslips</li>
            <li>an online Total Reward Statement or Annual Benefits Statement</li>
            <li>some communications we have sent to the member</li>
          </ul>
          <div class="nhsuk-form-group">
            <div class="nhsuk-radios">
  
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="two-thirds">
                  Membership number
                </label>
                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="two-thirds" name="fullName" type="text">
              </div>
          
            </div>
          </div>
        </fieldset>
      </div>
     
      {{ button({
        "text": "Continue"
        }) }}
   
      <!-- End of content -->
    </form>
    </div>  

  </div>
{% endblock %}
