<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Contact the scheme
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}


<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  href: "employer-code",
  text: "Back"
}) }}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="emp-select-member-employer" method="post">

      <!-- Change the page heading -->


      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
     

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <span class="nhsuk-caption-l nhsuk-caption--bottom">Details</span>
                <h1 class="nhsuk-fieldset__heading">
                 Do you have a member or employer query?
                </h1>
              </legend>
              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="member" name="type" type="radio" value="member-yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="member-code">
                    Member query
                  </label>
                  <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                    Choose this if you are contacting on behalf of a member
                  </div>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="employer" name="type" type="radio" value="employer-yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="employer">
                    Employer query
                  </label>
                  <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                    Choose this if you are contacting with an employer query
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

  
     
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>


      <!-- End of content -->
    </form>
    </div>  

  </div>
{% endblock %}
