<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Contact the scheme
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}


<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="membership-number" method="post">

      <!-- Change the page heading -->


      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
     

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <span class="nhsuk-caption-l nhsuk-caption--bottom">Details</span>
                <h1 class="nhsuk-fieldset__heading">
                  Type of query?</h1> 
              </legend>

              <p class="nhsuk-u-font-weight-normal">
                If we know, we can give you the best support with your query.
              </p>
              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="member" name="type" type="radio" value="member-yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="member-code">
                    TRS
                  </label>
                 
             
              </div>

              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="member" name="type" type="radio" value="member-yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="member-code">
                    Progress updates & progress chase
                  </label>
                 
             
              </div>

              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="member" name="type" type="radio" value="member-yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="member-code">
                    Awards
                  </label>
                 
             
              </div>
           
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="third" name="type" type="radio" value="third-yes">
            <label class="nhsuk-label nhsuk-radios__label" for="third-party-name">
              Form
            </label>
            
          </div>
        </div>
      </fieldset>
    </div>  
        </div>
      
     </div>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>


      <!-- End of content -->
    </form>
    </div>  

  </div>
{% endblock %}
