<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Contact the scheme
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}


<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="membership-number" method="post">

      <!-- Change the page heading -->


      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
     
      <div class="nhsuk-form-group">

          {% set sdNumberHtml %}
            {{ input({
              id: "sdNumber",
              name: "sdNumber",
              classes: "nhsuk-u-width-two-thirds",
              label: {
                text: "Membership number"
              }
            }) }}
          {% endset -%}
  

          <span class="nhsuk-caption-l nhsuk-caption--bottom">Your details</span>
          {{ radios({
            idPrefix: "membership-number",
            name: "membership-number",
            classes: "nhsuk-radios--inline",
            fieldset: {
              legend: {
                text: "Do you know your membership number?",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            },
            hint: {
              text: "For example, SD12340000"
            },
            items: [ 
              {
                value: "Yes, I know my membership number",
                text: "Yes, I know my membership number",
                conditional: {
                  html: sdNumberHtml
                }
              },
              {
                value: "No, I do not know my membership number",
                text: "No, I do not know my membership number"
              },
              {
                value: "I'm not sure",
                text: "I'm not sure"
              }
            ]
          }) }}
          
          {% call details({
            summaryText: "How to find your membership number",
            classes: "nhsuk-u-padding-top-5"
          }) %}
            <p>
              Sometimes known as the Superannuation Division (SD) number. 
              This will help us find your record and support you quicker. 
            </p>
            <p>This number is 'SD' followed by 8 digits.</p>
            <p>Find this on:</p>
            <ul>
              <li>some payslips</li>
              <li>an online Total Reward Statement or Annual Benefits Statement</li>
              <li>some communications we have sent</li>
            </ul>
          {% endcall %}

          </div>
     
     
      {{ button({
        "text": "Continue"
        }) }}
      </div>
      <!-- End of content -->
    </form>
    </div>  

  </div>
{% endblock %}
