{% extends 'layout.html' %}
{% set pageTitle = "Are you a member, employer or a third party authority?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-form-group">

        <form action="/{{folder}}/select-member-employer" method="post">
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Details</span>
          {{ radios({
            idPrefix: "member-employer",
            name: "member-employer",
            fieldset: {
              legend: {
                text: pageTitle,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            },
            hint: {
              text: "If we know that you are a member or an employer, we can give you the best support with your query."
            },
            items: [
              {
                value: "I am a member of the NHS Pension scheme",
                text: "I am a member of the NHS Pension scheme",
                hint: {
                  text: "Choose this if you are part of the 1995/2008 or 2015 schemes or contacting on behalf of the member"
                }
              },
              {
                value: "I am an employer",
                text: "I am an employer",
                hint: {
                  text: "Choose this if you are an employer"
                }
              },
              {
                value: "I am a third party authority",
                text: "I am a third party authority",
                hint: {
                  text: "Choose this is if you are a third party, like an independent financial advisor"
                }
              }
            ]
          }) }}

          {{ button({
            text: "Continue",
            classes: "nhsuk-u-margin-top-4"
          }) }}

        </form>
      </div>
    </div>  
  </div>
{% endblock %}
