{% extends 'layout.html' %}
{% set pageTitle = "Who is the adult dependant?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-form-group">

        <form action="../dependant/dependant-same-person" method="post">
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Dependant details</span>
          {{ radios({
            idPrefix: "Adultdependant",
            name: "Adultdependant",
            fieldset: {
              legend: {
                text: pageTitle,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "You",
                text: "You",
                hint: {
                  text: ""
                }
              },
              {
                value: "Other",
                text: "Someone else",
                hint: {
                  text: ""
                }
              }
            ]
          }) }}

        

          {{ button({
            text: "Continue",
            classes: "nhsuk-u-margin-top-4"
          }) }}

 


        </form>
      </div>
    </div>  
  </div>
{% endblock %}
