<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Contact the scheme
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}


<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  href: "#",
  text: "Back"
}) }}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="#" method="post">

      <!-- Change the page heading -->


      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
     

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <span class="nhsuk-caption-l nhsuk-caption--bottom">Details</span>
                <h1 class="nhsuk-fieldset__heading">
                  Are you a member or employer?
                </h1>
              </legend>
              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="mobile" aria-describedby="example-hints-1-item-hint">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
                    I am a member of the NHS Pension scheme
                  </label>
                  <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                    Choose this if you are part of the 1995/2008 or 2015 schemes or contacting on behalf of the member
                  </div>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="landline" aria-describedby="example-hints-2-item-hint">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                    I am an employer
                  </label>
                  <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-2-item-hint">
                    Choose this if you are an employer
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Why do we need to know if you are a member or employer?
          </span>
        </summary>
        <div class="nhsuk-details__text">
      
          <p>When you buy additional pension, you must complete all payments before your State Pension age. 
            This is the same as your normal pension age or 65, if that is later.</p>
          <p>We need your date of birth to:</p>
          <ul>
            <li>make sure you are under the State Pension age and able to buy additional pension</li>
            <li>calculate how many years until you reach the State Pension age</li>
          </ul>
          <p>If your birthday is in the next 6 weeks, you should wait until after your birthday. Then you can do the calculation and send it to your employer. </p>
      
        </div>
      </details>
      {{ button({
        "href": "previous-contracts",
        "text": "Continue"
        }) }}

      <!-- End of content -->
    </form>
    </div>  

  </div>
{% endblock %}
