{% extends 'layout.html' %}
{% set pageTitle = "What type of query?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-caption--bottom">Details</span>
      <form action="/{{folder}}/{{subfolder}}/general-enquiry-options" method="post">

        {{ radios({
          idPrefix: "generalEnquiry",
          name: "generalEnquiry",
          fieldset: {
            legend: {
              text: pageTitle,
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          hint: {
            text: "Choose the relevant query type."
          },
          items: [
            {
              value: "My Total Reward Statement",
              text: "My Total Reward Statement",
              hint: {
                text: ""
              }
            },
            {
              value: "Progress updates and progress chase",
              text: "Progress updates and progress chase",
              hint: {
                text: ""
              }
            },
            {
              value: "Awards",
              text: "Awards",
              hint: {
                text: ""
              }
            },
            {
              value: "Form",
              text: "Form",
              hint: {
                text: ""
              }
            },
            {
              value: "General query",
              text: "General query",
              hint: {
                text: ""
              }
            }
          ]
        }) }}

        {{ button({
          text: "Continue",
          classes: "nhsuk-u-margin-top-4"
        }) }}

      <form action="membership-number" method="post">

      <!-- Change the page heading -->


      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
     

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <span class="nhsuk-caption-l nhsuk-caption--bottom">Details</span>
                <h1 class="nhsuk-fieldset__heading">{{pageTitle}}</h1> 
              </legend>

              <p class="nhsuk-u-font-weight-normal">
                If we know, we can give you the best support with your query.
              </p>
              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="member" name="type" type="radio" value="member-yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="member-code">
                    TRS
                  </label>
                 
             
              </div>

              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="member" name="type" type="radio" value="member-yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="member-code">
                    Progress updates & progress chase
                  </label>
                 
             
              </div>

              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="member" name="type" type="radio" value="member-yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="member-code">
                    Awards
                  </label>
                 
             
              </div>
           
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="third" name="type" type="radio" value="third-yes">
            <label class="nhsuk-label nhsuk-radios__label" for="third-party-name">
              Form
            </label>
            
          </div>
        </div>
      </fieldset>
    </div>  
        </div>
      
     </div>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>


      </form>
    </div>  
  </div>
{% endblock %}
