{% extends 'layout.html' %}
{% set pageTitle = "What do you need help with?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-caption--bottom">Details</span>
      <form action="/{{folder}}/{{subfolder}}/select-nhs-pension-portal-general" method="post">

        {{ radios({
          idPrefix: "mnpGeneral",
          name: "mnpGeneral",
          fieldset: {
            legend: {
              text: pageTitle,
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          hint: {
            text: "Choose the relevant query type."
          },
          items: [
            {
              value: "My NHS Pension Portal",
              text: "My NHS Pension Portal",
              hint: {
                text: "Choose this if you need help with My NHS Pension"
              }
            },
            {
              value: "My Total Reward Statement (TRS)",
              text: "My Total Reward Statement (TRS)",
              hint: {
                text: "Choose this if you need help with your total reward statement"
              }
            },
            {
              value: "I am looking for an update",
              text: "I am looking for an update",
              hint: {
                text: "Choose this if you need an update, for example an application"
              }
            },
            {
              value: "I am retiring",
              text: "I am retiring",
              hint: {
                text: "Choose this if you are in the process of retiring"
              }
            },
            {
              value: "Request a form",
              text: "Request a form",
              hint: {
                text: "Choose this if you need to request a form"
              }
            },
            {
              value: "Bereavement or ill health",
              text: "Bereavement or ill health",
              hint: {
                text: "Choose this if you need help with a bereavement or ill health"
              }
            },
            {
              divider: "or"
            },
              {
                value: "Something else",
                text: "Something else",
                hint: {
                  text: "Choose this if you need help with anything else"
                }
            }
          ]
        }) }}

        {{ button({
          text: "Continue",
          classes: "nhsuk-u-margin-top-4"
        }) }}

      </form>
    </div>  
  </div>
{% endblock %}
