{% extends 'layout.html' %}
{% set pageTitle = "What can we help you with?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-caption--bottom">Details</span>
      <form action="/{{folder}}/{{subfolder}}/select-nhs-pension-portal-general" method="post">

        {{ radios({
          idPrefix: "mnpGeneral",
          name: "mnpGeneral",
          fieldset: {
            legend: {
              text: pageTitle,
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          hint: {
            text: "Choose the relevant query type."
          },
          items: [
            {
              value: "My NHS Pension Portal",
              text: "My NHS Pension Portal",
              hint: {
                text: "Choose this if your query is related to My NHS Pension Portal"
              }
            },
            {
              value: "My Total Reward Statement",
              text: "My Total Reward Statement",
              hint: {
                text: ""
              }
            },
            {
              value: "Progress updates and progress chase",
              text: "Progress updates and progress chase",
              hint: {
                text: ""
              }
            },
            {
              value: "Process of retiring",
              text: "Process of retiring ",
              hint: {
                text: ""
              }
            },
            {
              value: "Request a form",
              text: "Request a form",
              hint: {
                text: ""
              }
            },
            {
              value: "General query",
              text: "General query",
              hint: {
                text: "Choose this if your query is about anything else to do with pensions"
              }
            }
          ]
        }) }}

        {{ button({
          text: "Continue",
          classes: "nhsuk-u-margin-top-4"
        }) }}

      </form>
    </div>  
  </div>
{% endblock %}
