{% extends 'layout.html' %}
{% set pageTitle = "You will get an RSS when you retire"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-caption--bottom">Public Service Pensions Remedy</span>
      <h1 class="nhsuk-heading-l">
          {{pageTitle}}
      </h1>

      <p>You do not need to do anything now.  
      </p>

      <p>After you retire, we'll contact you when it's time to make your decision. 
      </p>

    

      <p>We'll send you an RSS at this time.</p>

      <form action="../member/mccloud/affected-by-mccloud" method="post" novalidate>
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hints-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            <h2 class="nhsuk-fieldset__heading">
              Do you still need help from NHS Pensions?
            </h2>
          </legend>
          <div class="nhsuk-radios" data-module="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-hints" name="needHelp" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-hints">
                Yes, I still need help
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-hints-2" name="needHelp" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                No, my query has been solved
              </label>
            </div>
          </div>
        </fieldset>
      </div>

          {{ button({
          "text": "Continue",
          "classes": "nhsuk-u-margin-top-3"
          }) }}
      </form>

      
    </div>
  </div>

{% endblock %}
