{% extends 'layout.html' %}
{% set pageTitle = "How long has it been since you last received contact/notification from NHS Pensions regarding your RSS letter?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-caption--bottom">Details</span>
      <h1 class="nhsuk-heading-l">
          {{pageTitle}}
      </h1>

      <p>You should have received a notification email or message from NHS Pensions saying that your RSS decision form had been received and would be processed.
      </p>

      <form action="../member/mccloud/days-since-last-contact" method="post" novalidate>
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hints-hint">
          <div class="nhsuk-radios" data-module="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-hints" name="lastContact" type="radio" value="over60">
              <label class="nhsuk-label nhsuk-radios__label" for="example-hints">
                Over 60 days since the last contact / notification 
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-hints-2" name="lastContact" type="radio" value="less60">
              <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                Less than 60 days ago
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      
          {{ button({
          "text": "Continue",
          "classes": "nhsuk-u-margin-top-3"
          }) }}
      </form>

      
    </div>
  </div>

{% endblock %}
