{% extends 'layout.html' %}
{% set pageTitle = "I've not heard anything since making my choice"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-caption--bottom">Public Service Pensions Remedy</span>
      <h1 class="nhsuk-heading-l">
          {{pageTitle}}
      </h1>

      <p>We'll update your pension benefits within 60 days of receiving your Decision Form back.
      </p>

      <p>Those 60 days begin once we have sent you a text or email notification to say we have received your Decision Form. </p>

      <h2 class="nhsuk-heading-m">Sent back your Decision Form but not had a notification</h2>

      <p>If you have sent us your Decision Form but you have not received a text or email to say we have received it we may have the wrong phone number or email address for you.</p>

      <p><a href="/v5/member/membership-number" class="nhsuk-link">Contact NHS Pensions if you think your details may be incorrect</a>.</p>

      <h2 class="nhsuk-heading-m">Give us your feedback</h2>
      <p><a href="#" class="nhsuk-link">Tell us about your experience using this service (opens in new tab)</a>.</p>

      

      
    </div>
  </div>

{% endblock %}
