{% extends 'layout.html' %}
{% set pageTitle = "I've not heard anything since making my choice"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-caption--bottom">Public Service Pensions Remedy</span>
      <h1 class="nhsuk-heading-l">
          {{pageTitle}}
      </h1>

      <p>We'll update your pension benefits within 60 days of receiving your Decision Form back.
      </p>

      <p>When we have got your Decision Form we'll notify you via text or email.</p>

      <p>If you've not had a notification and are unsure whether we have your form, contact us and we can check. </p>

      <p><a href="/v5/member/membership-number" class="nhsuk-link">Contact NHS Pensions</a></p>

      <h2 class="nhsuk-heading-m">Give us your feedback</h2>
      <p><a href="#" class="nhsuk-link">Tell us about your experience using this service (opens in new tab)</a>.</p>

      

      
    </div>
  </div>

{% endblock %}
