{% extends 'layout.html' %}
{% set pageTitle = "Letting NHS Pensions know my choice"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-caption--bottom">Details</span>
      <h1 class="nhsuk-heading-l">
          {{pageTitle}}
      </h1>

      <p>Once you have decied which pension benefits you want to receive for the remedy period you need to let NHS Pensions know.
      </p>
      <p>You're RSS letter will include a Decision Form. Complete this form, making sure to sign in, and send to:</p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>NHS Pensions<br>PO Box 683<br>Unit 5<br>Newcastle Upon Tyne<br>NE5 9EE</p>
      </div>

      <p>We'll update your pension benefits within 60 days of receiving your Decision Form back.</p>
      <p>If your decision means your benefits will change, we'll send you a statement confirming your updated benefits.</p>

      <p>Get more information about <a href="https://www.nhsbsa.nhs.uk/public-service-pensions-remedy-mccloud/making-your-remedy-choice/letting-us-know-your-remedy-choice" class="nhsuk-link" target="_blank">letting us know your remedy choice (opens in new tab)</a>.</p>

      <p>You have 12 months from the date on your RSS letter to let us know your choice.
      </p>
      

     
      <form action="../member/mccloud/letting-nhs-pensions-know" method="post" novalidate>
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hints-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h3 class="nhsuk-fieldset__heading">
              Do you still need help with your NHS Pensions query?
            </h3>
          </legend>
          <div class="nhsuk-radios" data-module="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-hints" name="let-nhs-pensions-know" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-hints">
                Yes, I still need help
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-hints-2" name="let-nhs-pensions-know" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                No, I no longer need help with this query
              </label>
            </div>
          </div>
        </fieldset>
      </div>

    
          {{ button({
          "text": "Continue",
          "classes": "nhsuk-u-margin-top-3"
          }) }}
      </form>

      
    </div>
  </div>

{% endblock %}
