{% extends 'layout.html' %}
{% set pageTitle = "Letting NHS Pensions know my choice"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-caption--bottom">Details</span>
      <h1 class="nhsuk-heading-l">
          {{pageTitle}}
      </h1>

      <p>Once you have decided which pension benefits you want to receive for the remedy period you need to let NHS Pensions know.
      </p>
      <p>You're RSS letter will include a Decision Form. Complete this form, making sure to sign it, and send to:</p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>NHS Pensions<br>PO Box 683<br>Unit 5<br>Newcastle Upon Tyne<br>NE5 9EE</p>
      </div>

      <p>We'll update your pension benefits within 60 days of receiving your Decision Form back.</p>
      <p>If your decision means your benefits will change, we'll send you a statement confirming your updated benefits.</p>

      <p>Get more information about <a href="https://www.nhsbsa.nhs.uk/public-service-pensions-remedy-mccloud/making-your-remedy-choice/letting-us-know-your-remedy-choice" class="nhsuk-link" target="_blank">letting us know your remedy choice (opens in new tab)</a>.</p>

      <h2 class="nhsuk-heading-m">Give us your feedback</h2>
      <p><a href="#" class="nhsuk-link">Tell us about your experience using this service (opens in new tab)</a>.</p>

      
    </div>
  </div>

{% endblock %}
