{% extends 'layout.html' %}
{% set pageTitle = "If you've not received an RSS"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-caption--bottom">Public Service Pensions Remedy</span>
      <h1 class="nhsuk-heading-l">
          {{pageTitle}}
      </h1>

      <p>You will only get an RSS if you're an NHS Pension Scheme member affected by McCloud. 
      </p>

      <p>We're currently sending them to members who:
      </p>

      <ul>
        <li>have claimed pension benefits from any section of the Scheme</li>
        <li>are affected by McCloud</li>
      </ul>

      <h2 class="nhsuk-heading-m">If you're affected by McCloud but have not received an RSS </h2>
      <p>If you have not heard from NHS Pensions you do not need to do anything now. We'll send you your RSS after you retire.</p>

      <h2 class="nhsuk-heading-m">What can I do to prepare?</h2>
      <p>You can see how your remedy choice could affect your pension overall using our <a href="https://www.nhsbsa.nhs.uk/public-service-pensions-remedy-mccloud/making-your-remedy-choice/nhs-pensions-mccloud-remedy-benefits-illustrator" class="nhsuk-link" target="_blank">Pension Remedy Benefits Illustrator (opens in new tab)</a>.</p>
      

      <form action="../member/mccloud/not-received-rss" method="post" novalidate>
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hints-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            <h2 class="nhsuk-fieldset__heading">
              Do you still need help from NHS Pensions?
            </h2>
          </legend>
          <div class="nhsuk-radios" data-module="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-hints" name="needingHelp" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-hints">
                Yes, I still need help
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-hints-2" name="needingHelp" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                No, my query has been solved
              </label>
            </div>
          </div>
        </fieldset>
      </div>

          {{ button({
          "text": "Continue",
          "classes": "nhsuk-u-margin-top-3"
          }) }}
      </form>

      
    </div>
  </div>

{% endblock %}
