{% extends 'layout.html' %} 
{% set pageTitle = "The Public Service Pensions Remedy (McCloud)" %} 
{% block pageTitle %} 
{{ pageTitle }} - {{ serviceName }} 
{% endblock %} 
{% block beforeContent %} 
{% endblock %}
 {% block outerContent %} 
 {% endblock %} {% block content %} 
 <div class="nhsuk-grid-row"> 
  <div class="nhsuk-grid-column-two-thirds"> 
    <span class="nhsuk-caption-l nhsuk-caption--bottom">Details</span>
     <h1 class="nhsuk-heading-l"> {{ pageTitle }} </h1> 
     <p> The Public Service Pensions Remedy (sometimes known as McCloud) removes age discrimination that happened when public service pension schemes changed in 2015.</p>
     <p>It affects some members of the NHS Pension Scheme.</p>
     <p>If you're affected, we'll send you a Remediable Service Statement (RSS)</p>
      <form action="../member/mccloud/received-rss" method="post" novalidate> 
        <div class="nhsuk-form-group"> 
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h2 class="nhsuk-fieldset__heading">
                Have you received a Remediable Service Statemtent (RSS)?
              </h2>
            </legend>
            <div class="nhsuk-radios nhsuk-radios--inline" data-module="nhsuk-radios"> 
              <div class="nhsuk-radios__item"> 
                <input class="nhsuk-radios__input" id="received-rss-yes" name="received-rss" type="radio" value="yes" > 
                <label class="nhsuk-label nhsuk-radios__label" for="received-rss-yes"> Yes </label>
               </div> <div class="nhsuk-radios__item"> 
                <input class="nhsuk-radios__input" id="received-rss-no" name="received-rss" type="radio" value="no" > 
                <label class="nhsuk-label nhsuk-radios__label" for="received-rss-no"> No </label> 
              </div> 
            </div> 
          </fieldset> 
        </div> {{ button({ "text": "Continue", "classes": "nhsuk-u-margin-top-3" }) }} 
      </form> 
    </div> 
  </div> {% endblock %}
