{% extends 'layout.html' %}
{% set pageTitle = "Understanding my RSS"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-caption--bottom">Details</span>
      <h1 class="nhsuk-heading-l">
          {{pageTitle}}
      </h1>

      <p>In your RSS,  we'll ask you to choose the benefits you want for your membership between 1 April 2015 and 31 March 2022. This is called the remedy period.
      </p>

      <p>You can decide to take your remedy period pension benefits from either the:
      </p>
      <ul>
        <li>1995 or 2008 Scheme, depending on which one you were a member of before 1 April 2022</li>
        <li>2015 Scheme</li>
      </ul>

      <p>Your RSS will show your personalised calculations to help you choose the best option for you.</p>
      <p>Find out more about <a href="https://www.nhsbsa.nhs.uk/public-service-pensions-remedy-mccloud/making-your-remedy-choice" class="nhsuk-link" target="_blank">making your remedy choice (opens in new tab)</a>. </p>

     <h2 class="nhsuk-heading-m">Watch our RSS video guides</h2>
      <p>Our YouTube videos can help you understand your RSS.</p>
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>Each video title includes a code, like RSS/1. This should match the code at the bottom of each page of your RSS.</p>
      </div>

      <p><a href="https://www.nhsbsa.nhs.uk/public-service-pensions-remedy-mccloud/making-your-remedy-choice/understanding-your-remedy-choice" class="nhsuk-link" target="_blank">Find your RSS YouTube guide (opens in new tab)</a>. </p>

      <form action="../member/mccloud/understanding-my-choice" method="post" novalidate>
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="example-hints-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
              <h2 class="nhsuk-fieldset__heading">
                Do you still need help from NHS Pensions?
              </h2>
            </legend>
            <div class="nhsuk-radios" data-module="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints" name="stillHelp" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints">
                  Yes, I still need help
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints-2" name="stillHelp" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                  No, my query has been solved
                </label>
              </div>
            </div>
          </fieldset>
        </div>
  
            {{ button({
            "text": "Continue",
            "classes": "nhsuk-u-margin-top-3"
            }) }}
        </form>

      

     
      

      
    </div>
  </div>

{% endblock %}
