{% extends 'layout.html' %}
{% set pageTitle = "When I need to make my choice by"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-caption--bottom">Details</span>
      <h1 class="nhsuk-heading-l">
          {{pageTitle}}
      </h1>
      <p>You have 12 months from the date on your RSS to tell us which benefits you'd like to take.</p>

      <p>If you do not reply, we'll update your benefits permanently to pay you 1995 or 2008 benefits for the remedy period. This is option A in your RSS.
      </p>

      <p>Get more information about <a href="https://www.nhsbsa.nhs.uk/public-service-pensions-remedy-mccloud/making-your-remedy-choice/letting-us-know-your-remedy-choice" class="nhsuk-link" target="_blank">letting us know your remedy choice (opens in new tab)</a>.</p>

      <h2 class="nhsuk-heading-m">Give us your feedback</h2>
      <p><a href="#" class="nhsuk-link">Tell us about your experience using this service (opens in new tab)</a>.</p>
      

      
    </div>
  </div>

{% endblock %}
