{% extends 'layout.html' %}
{% set pageTitle = "Why did I receive the Remediable Service Statement (RSS) letter"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-caption--bottom">Details</span>
      <h1 class="nhsuk-heading-l">
          {{pageTitle}}
      </h1>

      <p>You received the RSS letter as it means you joined the public service pension scheme on or before 31 March 2012 and:
      </p>

      <ul>
        <li>you had continuous pensionable service between 1 April 2015 and the 31 March 2022 (or your retirement date if earlier), or you left service after 31 March 2012 but returned within 5 years</li>
        <li>your pensionable service was in the legacy scheme (1995 / 2008 Scheme), or your pensionable service was in the 2015 Scheme but you would have been</li>
      </ul>

      <h2>Making your choice</h2>

      <p>Further information to help you make your choice can be found on Making your remedy choice (opens in new tab)
      </p>
      

     
      <form action="../member/mccloud/why-the-letter-was-sent" method="post" novalidate>
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hints-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h3 class="nhsuk-fieldset__heading">
              Do you still need help with your NHS Pensions query?
            </h3>
          </legend>
          <div class="nhsuk-radios" data-module="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-hints" name="why-letter-sent" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-hints">
                Yes, I still need help
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-hints-2" name="why-letter-sent" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                No, I no longer need help with this query
              </label>
            </div>
          </div>
        </fieldset>
      </div>

          {{ button({
          "text": "Continue",
          "classes": "nhsuk-u-margin-top-3"
          }) }}
      </form>

      
    </div>
  </div>

{% endblock %}
